/* const Form = styled.form`
  border: 1px solid;
  width: 80%;
  padding: 10px;
`;
const Input = styled.input`
  // margin-bottom: 15px;
`;
const label = styled.label`
  margin-top: 15px;
  display: inline-block;
`;
const TextArea = styled.textarea`
  vertical-align: top;
  margin-top: 15px;
`;

const RadioBtn = styled.input`
  margin: 0;
  margin-right: 12px;
`;
const Buttons = styled.div`
  margin-top: 12px;
`;
const AddTask = styled.button`
  padding: 10px;
  margin-right: 5px;
  background-color: #1fde13;
  border: none;
  font-size: 1em;
  border-radius: 5px;
`;
const Reset = styled.button`
  padding: 10px;
  margin-right: 5px;
  background-color: silver;
  border: none;
  font-size: 1em;
  border-radius: 5px;
`;
const Cancel = styled.button`
  padding: 10px;
  margin-right: 5px;
  background-color: transparent;
  color: blue;
  // outline:blue;
  border: 2px solid blue;
  font-size: 1em;
  border-radius: 5px;
`;

   */